@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary: 'Montserrat', sans-serif;
    --cl-light: #F0F0F0;
    --cl-dark: #3C486B;
    --cl-yel: #F9D949;
    --cl-red: #F45050;
}

body {
    background-color: var(--cl-light);
    font-family: var(--ff-primary);
    background-image: url("https://www.transparenttextures.com/patterns/noisy-grid.png");
}

header {
    background-color: var(--cl-dark);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header i {
    font-size: 4rem;
    color: var(--cl-light);
}

section {
    margin: 2rem 0 2rem 0;
}

input {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--cl-dark);
    color: #f3f3f3;
    border: none;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--cl-yel);
    color: var(--cl-red);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--cl-light);
}

ul {
    list-style: none;
}

img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0 1rem;
    max-width: 18rem;
    box-shadow: 10px 0 3px 0 var(--cl-dark);
    background-color: var(--cl-dark);
    border-radius: 5%;
}

article h1 {
    font-size: 1rem;
}

article h2 {
    color: var(--cl-light);
}

a {
    text-decoration: none;
    background-color: var(--cl-dark);
    color: #f3f3f3;
    width: fit-content;
    padding: 0.5rem 1rem;
}

a:hover {
    cursor: pointer;
    background-color: var(--cl-yel);
    color: var(--cl-red);
}

li {
    color: var(--cl-light);
}

footer {
    position: fixed;
    background-color: var(--cl-dark);
    color: var(--cl-light);
    font-size: .8rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/noisy-grid.png");
}

.controls {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nutrients ul {
    display: flex;
    width: 35rem;
    justify-content: space-evenly;
}

.meals {
    display: flex;
}

.instructions {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}


@media screen and (max-width: 550px) {
    .meals {
        flex-direction: column;
        align-items: center;
    }

    .nutrients ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}